.templates{
  width: 50%;
}

.Memeplaatjes{
  width: 80%;
}

html, body{
  width: 100vw;
  flex-wrap: wrap;
}

ul.reset{
  margin:0;
  padding: 0;
  text-indent: 0;
}

.stonks{
  display: flex;
  width: 100%;
  align-items: center;
}

*{
  margin: 0px;
  padding: 0px;
}
.link {
  text-decoration: none;
  color: black;
}
body {
  font-family: sans-serif;
  background-color: lightgrey;
  margin-left: 0px;
  margin-top: 0px;
}

ul{
  margin:0;
  padding: 0;
  text-indent: 0;
  border: .1em;
  list-style:none;
    padding: 1em;
  border-radius:.5em;
  display:flex;
}

.center{
  text-align: center;
}

h1 {
  font-style: italic;
  text-align: left;
  color: darkgreen;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2{
  text-align: center;
}

table.templatecontent th{
  border: blue 3px ridge;
  width: 50%;
}

table.templatecontent td{
  border: blue ridge;
  width: 50%;
}
table.templatecontent{
  border: blue 5px ridge;
  border-collapse: collapse;
  width: 50%;
}

h3{
  color: white;
  text-align: center;

}

.p{
  text-align: center;
  border: 5px double;
  margin-left: 225px;
  margin-right: 225px;
  border-radius: 0px 0px 25px 25px;
}

#woord_meme{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-style: italic;
  text-align : center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: blue;
  border-radius: 25px 0px 25px 0px;
  border: 20px ridge blue;
  margin-left: 500px;
  margin-right: 500px;
}


p{
  text-align: justify;
  color: black;
}

.active{
  text-decoration: none;
  background-color: lightblue;
  width: 150px;
  border: 1px solid OrangeRed;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  color: black;
  font-size: 19px;
}


.active:hover{
  background-color: red;
}
.laag{
  margin-left:320px;
}

.plaatjesrij{
  flex-direction: column;
  flex-basis: 70%;
}

#container ul{
  list-style:none;
}

#container ul li{
  background-color: darkgrey;
  width: 150px;
  border: 1px solid OrangeRed;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  color: black;
  font-size: 19px;
  position: relative;
}

#container ul li:hover{
  background-color: grey;

}

#container ul ul{
  display: none;
}

#container ul li:active > ul{
  display: block;
}

#container ul li:hover > ul{
  display: block;
}

#container ul ul ul{
  margin-left: 150px;
  top: 0px;
  position: absolute;
}
